#root {
  max-width: 100%;
  padding: -10px;
  border:0;
  margin:-10px;
}

.list-container{
  display: grid;
  width:100%;
  height: 80%;
  grid-template-columns:auto auto auto auto ;
  padding:30px
}
.list-container img{
  width: 70%;
  height: 80%;
}

button{
  font-weight: 700;
  background-color: brown;
  color:white;
  border-radius: 10px;
  border:none
}

.nav-bar{
  background-color: brown;
  color:white;
  border:none;
  display:flex;
  justify-content: space-around;
}

